<div class="container">
  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h2 class="is-size-3 has-text-weight-bold has-text-centered">
          <%= t('form.establishment.sign_in.title') %>
        </h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="column is-12">
          <div class="field">
            <div class="control">
              <%= f.label :email, class: :label %>
              <%= f.email_field :email, autofocus: true, class: :input, required: true, placeholder: t('form.establishment.placeholder.email') %>
            </div>
          </div>
        </div>
        <div class="column is-12">
          <div class="field">
            <div class="control">
              <div class="field">
                <%= f.label :password, t('form.establishment.password'), class: :label %>
                <%= f.password_field :password, class: :input, required: true, placeholder: t('form.establishment.placeholder.password') %>
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="column is-12 has-text-centered">
              <%= f.submit t('form.establishment.sign_in.submit'), class: 'button is-primary' %>
            </div>
            <div class="column is-12 has-text-centered">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
